html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    touch-action: none;
}
.game-pause {
    display: none;
    color: red;
    text-align: center;
    font-size: 3rem;
}
.snake {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
canvas {
    margin: 0;
    border: 1px solid white;
}

@media screen and (max-width: 600px) {
    #guide {
        display: none;
    }
    #game {
        width: 350px;
        height: 350px;
    }
}